
/* CSS STYLESHEET FOR ECOLABELS EXPERIMENT */
 
/* GLOBAL STYLING */

    /* set oTree default margins & padding off, define viewport */
    .otree-body {
       height: 100vh;
       width: 100vw; 
       margin: 0;
       padding: 0;
    }

    .debug-info {
        display:none;
    }

    * {
        box-sizing: border-box
    }

    /* Set global styling, same for all pages */
    body {
       font-family: Helvetica, sans-serif;
       color: #333;
       background-color: #f8f6f0;
       text-align: center;   
    }

    /* titles */
    h1 {
        font-size: 5vh;
        margin-top: -10vh;
        text-align: center;
        padding: 4vh;
        background-color: rgba(59, 121, 139, 0.678);
        color: white;
        width: 80vw;
    }

    /* Next & submit button */
    .button {
        font-family: 'Work Sans', sans-serif;
        font-size: 3vh;
        width: 8vw;
        height: 12vh;
        background-color: rgb(33, 202, 132);
        color: #fff;
        border: 0px;
        border-radius: 3px;
        line-height: 12vh;
        cursor: pointer;
        text-align: center;
        text-decoration: none;   
    }

    .button:hover {
        background-color: rgb(39, 221, 145);
        color: #fff;
    }

    /* Hide button */ 
    .hideButton {
        visibility: hidden;
    }

    /* Input fields */
    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 2.5vh;
    }

    /* This is for autocomplete dropdown */
    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }

    /* Checkbox styling for ticked/unticked */ 

    input[type="checkbox"]:required:valid + label { 
        color: green;
        
    }

/* INTRODUCTION & INSTRUCTIONS */

    /* Slide container */
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        height: 75vh;
        width: 80vw;
        padding: 0;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-bottom: 2vh;
        justify-content: center;
        align-content: center;
    }

    /* Hide the slide content by default */
    .mySlides {  
        display: none;
    }

    /* Slides */
    .slide-item {
        height: 70vh;
        width: 80vw;
        padding-top: 5vh;
        padding-left: 6vw;
        padding-right: 15vw;
        background-color: white;
        font-size: 2.8vh;
        line-height: 1.5;
        margin-bottom: 2vh;
        text-align: left;
    }

    .slide-item2 {
        padding-right: 6vw !important;
    }

    /* Slide title */
    .title {
        font-weight: bold;
        text-decoration: underline;
        font-size: 2.8vh;
        text-align: left;
        margin-bottom: 2vh;
    }

    /* Product Characteristics slide */
    .symbol {
        width: 1.5vw;
        margin: 1px;
    }

    /* Slides that have content split in two */
    .double-container {
        display: flex;
        flex-direction: row;
    }

    .text-container {
        width: 70%;
    }

    .img-container {
        padding-left: 5vw;
        text-align: center;
        width: 30%;
    }

    .task-img {
        width: 17vw;
        border: 1px solid #333;
        object-fit: contain;
    }

    .button-container {
        flex-basis: 50%;
        text-align: center;
    }

    .text-reveal {
        visibility: hidden;
    }

    .hover-button {
        height: 15vh;
        width: 15vh;
        margin-bottom: 5vh;
    }

    .hidden {
        color:  rgb(200, 200, 200);
        background-color: rgb(200, 200, 200);
    }
  
    .non-hidden {
        color: #000;
        background-color: rgb(200, 200, 200);
    }
  
    .hidden .button-img{
        display: none;
    }
  
    .non-hidden .button-img{
        display: inline-flex;
    }

    .button-outcome {
        font-size: 1em;
    }

    /* Container for questions slide */
    .flex-questions {
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 80vw;
        background-color: white;
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 3vw;
        font-size: 2.5vh;
    }

    /* Container for individual questions (question, input field, hint) */
    .flex-questions li {
        height: 12vh;
        padding-top: 2vw;
        list-style: none;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        border-bottom:1px solid rgb(233, 232, 232);
    }

    .flex-questions li:last-child {
        border-bottom: none;
        padding-top: 3vh;
        height: 15vh;
    }

    /* Only questions */
    .inst-question {
        flex-basis: 37vw;
    }

    /* Only input fields */
    .answer-field {
        flex-basis: 20vw;
        padding-left: 3vw;
        padding-bottom: 1vh;
    }    

    /* Dropdown input */ 
    .dropdown {
        height: 5vh;
        width: 9vw;
    }

    /* Incorrect/hint bar */
    .hint {
        visibility: hidden;
        flex-grow: 1;
        padding-top: 0.5vh;
        background-color: rgb(250, 144, 144);
        border-radius: 2px;
        color:white;
        height: 4.5vh;
        width: 8vw;
        margin-left: 1vh;
        text-align: center;
    }

    /* Submit button Introduction*/
    .intro-button {
        display: inline-block;
        position:absolute;
        margin: 60vh; 
    }

    /* Next & previous buttons (arrows) */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -5vh;
        padding: 2vh;
        color: black;
        font-size: 8vh;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
        text-align: center;
    }

    /* Position the "next button" to the right */
    .next {
        right: 3vw;
    }

    /* Position the "previous button" to the left */
    .prev {
        left: 4vw;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: #bbb;
        color: black;
    }
   
    .prev-key,
    .next-key {
        position: absolute;
        top: 60%;
        padding: 2vh;
        color: black;
        font-size: 2vh;
        text-align: center;
    }

    .prev-key {
        left: 1vw;
    }
        
    .next-key {
        right: 0.5vw;
    }

    /* The dots/bullets/indicators */
    .dot_row {
        position: absolute;
        margin-top: 67vh;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 2.5vh;
        width: 2.5vh;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

/* INFOGRAPHICS */

    /* Image slide container */
    .infograph-container {
        height: 80vh;
        width: 80vw;
        padding: 0;
        margin-left: 10vw;
        margin-bottom: 2vh;
        text-align: center;
    }

    /* Image sizing */
    .info-img {
        height: 80vh;
        width: 80vw;
        object-fit:contain;
    }

    /* Dots */
    .info-dotrow {
        position: inline-block;
        text-align: center;
        margin: -5vh;
    }

    /* Next button */
    .info-button {
        display: inline-block;  
        margin: 10vh;
    }

    /* Next & Previous button location */
    .prev-info {
        left: 10vw !important;
    }

    .next-info {
        right: 10vw !important;
    }

/* QUESTIONNAIRE */
    
    /* Questionnaire container */
    .questionnaire {
        margin-top: 10vh;
        text-align: center; 
        margin-left: 10vw;
        margin-bottom: 2vh;  
        width: 80vw;
        padding-bottom: 3vh;    
    }

    /* Slide container */
    .element-container {
        background-color: white;
        height: 70vh;
        width: 80vw;
    }

    /* Question box */
    .question {
        font-size: 3vh;
        height: 11vh;
        padding: 3vh;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    /* Answer box */
    .answers {
        font-size: 2.7vh;
        margin-bottom: 10vh;
        text-align: left;
        display: inline-block;
        height: 20vh;
    }

    /* Radio button vertical */ 
    .QT-radio {
        display: block;
        margin-bottom: 2vh;
        width: 30vw;
        text-align: left;
        margin-left: 20vw;
    }

    /* Radio button horizontal */
    .QT-label {
        display: inline-block;
        width: 12vw;
        text-align: center;
    }

    .QT-radioH {
        display: block;
        margin: 0 auto;
    }

    /* Instruction styling */
    .QT-inst {
        text-align: center;
        padding-top: 0;
        padding-left: 12vw;
        padding-right: 12vw;
    }

    /* Next/submit button location */
    .QT-button {
        margin-top: 15vh;   
    }

    /* Slide */
    .slide {
        position: absolute;
        height: 50vh;
        width: 80vw;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .active-slide {
        opacity: 1;
        z-index: 2;
    }

    /* Container for questions, answers and progress bar */
    .quiz-container {
        position: relative;
        height: 40vh;
        margin-top: 1vh;
    }

    /* Progress bar */
    .progress-bar {
        display: inline-block;
        position: relative;
        z-index: -1;
        width: 20vw;
        opacity: 0.7;
        text-align: center;
        -webkit-appearance: none;
        appearance: none;
    }

    /* Autocomplete styling for open questions*/
    .autocomplete-items {
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;

        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }


    /* Media query for large screen (stops elements from becoming gigantic)*/

    @media only screen and (min-width: 1600px) {
        h1 {
            font-size: 46px !important;
        }

        input {
            font-size: 24px !important;
        }

        .button {
            height: 10vh !important;
            width: 8vw !important;
            font-size: 24px !important;
            line-height: 10vh !important;
        }

        .title {
            font-size: 24px !important;
        }

        .slide-item {
            font-size: 22px !important;
            line-height: 2 !important;
        }

        .flex-questions {
            font-size: 24px !important;
        }

        .dot {
            height: 24px !important;
            width: 24px !important;
        }

        .prev, .next {
            font-size: 6vh !important;
        }

        .question {
            font-size: 26px !important;
        }

        .answers {
            font-size: 24px !important;
        }

        .infograph-container {
            height: 60vh !important;
            width: 60vw !important;
            margin-left: 20vw !important;
            margin-top: 10vh;
            margin-bottom: 2vh !important;
        }

        .info-img {
            height: 60vh !important;
            width: 60vw !important;
        }
    }