html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* END RESET*/

:root {
  --sq-height: 15vh;
  --sq-width: 15vh;
  --row-height: 17vh;
  --row-width: 17vw;
  --action-font-size: 1em;
  --table-side-margin: 25vw;
  --table-top-margin: 5vh;
  --outcome-background-color: ##fff;
  --outcome-background-hidden: rgb(150,150,150);
  --outcome-text-color: #000;
  --outcome-font-size:2em;
}

body{
  background-color: #eee;
  color: var(--outcome-text-color);
  font-size: 1em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.game-body {
  height:100vh;
  width:100vw;
}

.gametable {
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.gametable th, .gametable td {
  height: var(--sq-height);
  width: var(--sq-width);
}

.gametable tr {
  height: var(--row-height);
  width: var(--row-width);
  text-align  : 'center';
}

.button-game {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  height: var(--sq-height);
  width: var(--sq-width);
}

.button-game button {
  cursor: default;
  margin: 0;
}

.button-game:focus {
  outline: 0;
}

.button-action {
  font-size: var(--action-font-size);
  background-color: rgb(150,150,150); 
}

.button-outcome {
  background-color: var(--outcome-background-hidden);
  color: var(--outcome-background-hidden);
  font-size: var(--outcome-font-size);
}

.button-img{
  max-width:85%;
  max-height:85%;
  display: none;
  justify-content: center;
  align-self: center;
}

.hidden {
  color:  var(--outcome-background-hidden);
  background-color: var(--outcome-background-hidden);
}

.non-hidden {
  color:  var(--outcome-text-color);
  background-color: var(--outcome-background-color);
}

.hidden .button-img{
  display: none;
}

.non-hidden .button-img{
  display: inline-flex;
}


