/* CSS STYLESHEET FOR ECOLABELS EXPERIMENT */
 
/* GLOBAL STYLING */

    /* set oTree default margins/padding off, define viewport */
    .otree-body {
       height: 100vh;
       width: 100vw; 
       margin: 0;
       padding: 0;
       font-family: sans-serif;
    }

    .debug-info {
        display:none;
    }
    
    .btn {
        position: absolute;
        display:inline-block;
        margin-left: 70vw;
    }

    /* next button */
    .otree-btn-next {
        background: green;
        border-color: green;
        width: 10vw;
        height: 8vh;
    }

    * {
        box-sizing: border-box
    }

    /* Titles */
    h1 {
        font-size: 7vh;
        margin-top: -10vh;
        text-align: center;
        position:absolute;
    }

    h2 {
        
    }

/* INTRODUCTION & INSTRUCTIONS */

    /* Content container */
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        height: 70vh;
        width: 80vw;
        padding: 0;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-bottom: 2vh;
        background-color:rgb(233, 232, 232);
        justify-content: center;
        align-content: center;
    }

    /* Hide the slide content by default */
    .mySlides {  
        display: none;
    }

    /* Slides*/
    .slide-item {
        height: 65vh;
        width: 77vw;
        padding: 5vh;
        background-color: white;
        font-size: 3vh;
    }

    /* Container for questions slide */

    .flex-questions {
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 77vw;
        background-color: white;
        padding-top: 1vh;
        font-size: 2.5vh;
    }

    /* questions */
    .flex-questions li {
        padding-left: 3vw;
        padding-top: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        border-bottom:1px solid rgb(233, 232, 232);
    }

    /* Hints */
    .hintButton {
        text-decoration: none;
        color: blue;
        text-align: right;
        padding-left: 1vw;
        padding-top: 0.5vh;
    }

    .hintButton:hover {
        cursor: pointer;
        color:black;
    }

    .hint {
        display: none;
        padding-top: 0.5vh;
        padding-left: 1vw;
        background-color: rgb(233, 232, 232); ;
        height: 4vh;
        width: 8vw;
        margin-left: 1vh;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -5vh;
        padding: 2vh;
        color: black;
        font-size: 8vh;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
        text-align: center;
    }

    /* Position the "next button" to the right */
    .next {
        right: 3vw;
    }

    .prev {
        left: 4vw;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: #bbb;
        color: black;
    }
    
    /* The dots/bullets/indicators */
    .dot_row {
        position: absolute;
        margin-top: 60vh;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 2.5vh;
        width: 2.5vh;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
