
/* CSS STYLESHEET FOR ECOLABELS EXPERIMENT */
 
/* GLOBAL STYLING */
 @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


    /* set oTree default margins/padding off, define viewport */
    .otree-body {
       height: 100vh;
       width: 100vw; 
       margin: 0;
       padding: 0;
    }

    .debug-info {
        display:none;
    }
    
    .btn {
        position: absolute;
        display:inline-block;
        margin-left: 70vw;
    }

    /* next button */
    .otree-btn-next {
        background: #50b454;
        border: none;
        width: 10vw;
        height: 8vh;
    }

    .otree-btn-next:hover {
        background-color: #3e9140;
    }

    * {
        box-sizing: border-box
    }

    body {
       font-family: 'Work Sans', sans-serif;
       color: #333;
       background-color: #f8f6f0;
       text-align: center;  
    }

    /* Titles */
    h1 {
        font-size: 2.5em;
        margin-top: -10vh;
        text-align: center;
        padding: 4vh;
        background-color: rgba(59, 121, 139, 0.678);
        color: white;
        width: 80vw;
    }

/* INTRODUCTION & INSTRUCTIONS */

    /* Content container */
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        height: 70vh;
        width: 80vw;
        padding: 0;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-bottom: 2vh;
        text-align: justify;
        justify-content: center;
        align-content: center;
    }

    /* Hide the slide content by default */
    .mySlides {  
        display: none;
    }

    /* Slides*/
    .slide-item {
        height: 65vh;
        width: 80vw;
        padding: 5vh;
        background-color: white;
        font-size: 3vh;
    }

    /* Slide title*/
    .title {
        font-weight: bold;
        text-align: center;
    }

    /* Container for questions slide */

    .flex-questions {
        display: flex;
        flex-direction: column;
        height: 65vh;
        width: 80vw;
        background-color: white;
        padding-top: 4vh;
        font-size: 2.7vh;
    }

    /* questions */
    .flex-questions li {
        height: 12vh;
        padding-left: 5vw;
        padding-right: 3vw;
        padding-top: 2vw;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom:1px solid rgb(233, 232, 232);
    }

    .flex-questions li:last-child {
        border-bottom: none;
    }

    .inst-question {
        flex-basis: 37vw;
    }

    .answer-field {
        flex-basis: 20vw;
    }    

    .radio {
        color:black;
        margin-right: 2vw;
    }

    .dropdown {
        height: 5vh;
    }

    /* Hints */
    .hint {
        visibility: hidden;
        flex-grow: 1;
        padding-top: 0.5vh;
        border: 1.5px solid red;
        border-radius: 2px;
        color:red;
        height: 4.5vh;
        width: 8vw;
        margin-left: 1vh;
        text-align: center;
    }


    /* Submit Button */
    .submitButton {
        background-color: #50b454;
        color: white;
        border: none;
        height: 6vh;
        width: 7vw;
        border-radius: 2px;
    }

    .submitButton:hover{
        background-color: #3e9140;
    }

    .submitButton:checked{
        border: none;
    }

    .intro-button {
        display: inline-block;
        position:absolute;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.2em;
        font-style: bold;
        background-color: rgb(33, 202, 132);
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 4vh;
        cursor: pointer;
        margin: 55vh;
        text-decoration: none;  
    }



    /* Hide Next(page) button */ 
    .hideButton {
        visibility: hidden;
    }

    /* Next & previous buttons (arrows) */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -5vh;
        padding: 2vh;
        color: black;
        font-size: 8vh;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
        text-align: center;
    }

    /* Position the "next button" to the right */
    .next {
        right: 3vw;
    }

    .prev {
        left: 4vw;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: #bbb;
        color: black;
    }
    
    /* The dots/bullets/indicators */
    .dot_row {
        position: absolute;
        margin-top: 60vh;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 2.5vh;
        width: 2.5vh;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

/* INFOGRAPHIC */

    .infograph-container {
        height: 80vh;
        width: 80vw;
        padding: 0;
        margin-left: 10vw;
        margin-bottom: 2vh;
        text-align: center;
    }

    .info-img {
        height: 80vh;
        width: 80vw;
        object-fit:contain;
    }

    .info-dotrow {
        position: inline-block;
        text-align: center;
        margin: -5vh;
    }

    .info-button {
        display: absolute;
        display: inline-block;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.2em;
        font-style: bold;
        background-color: rgb(33, 202, 132);
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 4vh;
        cursor: pointer;
        text-decoration: none;  
        margin: 10vh;
    }

/* QUESTIONNAIRE */
    
    .questionnaire {
        margin-top: 10vh;
        text-align: center; 
        margin-left: 10vw;
        margin-bottom: 2vh;  
        width: 80vw;
        padding-bottom: 3vh;    
    }

    .element-container {
        background-color: white;
        height: 70vh;
        width: 80vw;
    }

    .question {
        font-size: 1.4em;
        height: 10vh;
        margin-bottom: 4vh;
        padding: 3vh;
    }

    .answers {
        font-size: 1.2em;
        margin-top: 3vh;
        margin-bottom: 10vh;
        text-align: left;
        display: inline-block;
        height: 20vh;
    }

    .Demo-label {
        display: block;
        margin-bottom: 10px;
    }

    .QT-radio {
        display: block;
        margin: 0 auto;
    }

    .QT-label {
        font-size: 1em;
        display: inline-block;
        width: 12vw;
        text-align: center;
    }

    .QT-inst {
        font-size: 1.2em;
        text-align: center;
        padding-top: 0;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .button {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.2em;
        font-style: bold;
        background-color: rgb(33, 202, 132);
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 4vh;
        cursor: pointer;
        margin-top: 15vh;
        text-decoration: none;       
    }

    .button:hover {
        background-color: rgb(39, 221, 145);
        color: #fff;
    }

    .slide {
        position: absolute;
        height: 50vh;
        width: 80vw;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .active-slide {
        opacity: 1;
        z-index: 2;
    }

    .quiz-container {
        position: relative;
        height: 40vh;
        margin-top: 1vh;
    }

    .demo-textbox {
        font-size: 0.8em;
    }

    .progress-bar {
        display: inline-block;
        width: 20vw;
        opacity: 0.7;
        text-align: center;
        -webkit-appearance: none;
        appearance: none;
    }
